@import "variables.scss";
@import "typography.scss";
@import "mixins.scss";
@import "utilities.scss";
@import "core.scss";
@import "index.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontFamily;
}

html {
  background: $gradient;
  background-attachment: fixed;
}

body {
  letter-spacing: 1px;
  text-align: center;
  font-size: $fontSize;
  font-weight: 500;
  color: $colorWhite;
  @media (min-width: 750px) {
    font-size: $fontSizeLg;
  }
}

.container {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
