.container {
  padding: 0 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  margin: 10px 0;
  width: 100%;
  max-width: 1050px;
  padding: 60px 10px 10px;
  @include glass-effect($blur: 7, $opacity: 0.15, $saturate: 110);
  &__intro {
    margin-bottom: 25px;
    line-height: 1.8;
  }
  &__search {
    color: $colorBlack;
    // display: inline-flex;
    // border-radius: 5px;
    // overflow: hidden;
    // flex-wrap: wrap;
    // justify-content: center;
  }
  &__main {
    padding-top: 25px;
  }
}

.spinner {
  height: 120px;
}

.forecast {
  @include glass-effect($blur: 0, $opacity: 0, $saturate: 0);
  padding: 20px 10px 10px;
  &__title {
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  &__description {
    margin-bottom: 20px;
  }
  &__country {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    color: rgba($colorWhite, 0.7);
  }
  &__wrapper {
    // margin: 0 auto;
    // width: max-content;
    display: grid;

    gap: 10px;
  }
  &__list {
    // display: flex;
  }
  &__item {
    @include glass-effect($blur: 0, $opacity: 0.1, $saturate: 0);
    padding: 20px 10px;
    margin-top: 20px;
    font-size: 20px;
    transition: transform 0.3s;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item-header {
    margin-bottom: 20px;
    font-size: 18px;
  }
  &__item-day {
    text-transform: uppercase;
    font-weight: 300;
  }
  &__item-stats {
    max-width: max-content;
    margin: 0 auto;
  }
}

.info {
  $s: ".info";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //   @include glass-effect($blur: 0, $opacity: 0.1, $saturate: 0);
  padding: 10px;
  font-size: 18px;
  &__wrapper {
    display: flex;
    align-items: center;
  }
  &__title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    color: rgba($colorWhite, 0.7);
    font-size: 12px;
  }
  &__icon {
    margin-right: 10px;
    flex: 0 0 auto;
    svg {
      position: relative;
      margin-top: 5px;
    }
  }
  &--secondary {
    @include glass-effect($blur: 0, $opacity: 0.1, $saturate: 0);
    font-size: 20px;
    padding: 15px 10px;
    #{$s}__title {
      font-size: 14px;
    }
    #{$s}__icon {
      margin-right: 15px;
    }
  }
}

//   &__forecast {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     gap: 25px;
//     list-style: none;
//     li {
//       flex: 0 0 auto;
//     }
//     &--lg {
//       display: block;
//       .card__info {
//         font-size: 25px;
//         margin-bottom: 10px;
//         svg {
//           margin-right: 15px;
//         }
//       }
//     }
//   }
//   &__info {
//     display: flex;
//     align-items: center;
//     // font-weight: 600;
//     svg {
//       position: relative;
//       top: 3px;
//       flex: 0 0 auto;
//       margin-right: 10px;
//     }
//   }
@media (min-width: 548px) {
  .forecast {
    &__wrapper {
      grid-template-columns: repeat(4, 1fr);
      .info {
        grid-column: span 2;
        &:last-child:nth-child(2n-1) {
          grid-column-end: 4;
        }
      }
    }
    &__container {
      display: flex;
      max-width: 500px;
      margin: 0 auto;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}

@media (min-width: 750px) {
  .app {
    padding: 60px 15px 15px;
  }
  .card {
    &__list {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(3, 1fr);
    }
    &__item {
      &:hover {
        transform: scale(1.03);
      }
    }
  }
}

@media (min-width: 950px) {
  .forecast {
    &__wrapper {
      grid-template-columns: repeat(6, 1fr);
      .info {
        /* Dealing with 2 orphan items */
        &:last-child:nth-child(2n-1) {
          grid-column-end: auto;
        }

        &:last-child:nth-child(3n - 1) {
          grid-column-end: -2;
        }

        &:nth-last-child(2):nth-child(3n + 1) {
          grid-column-end: 4;
        }

        /* Dealing with single orphan */

        &:last-child:nth-child(3n - 2) {
          grid-column-end: 5;
        }
      }
    }

    &__container {
      grid-template-columns: repeat(3, 1fr);
    }
    &__list {
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(2, 1fr);
    }
    &__item {
      margin: 0;
    }
  }
}
