$fontFamily: "Dosis", sans-serif;
$colorRed: orange;
$colorGray: #f1faee;
$colorBlueLight: #a8dadc;
$colorBlueMedium: #457b9d;
$colorBlueDark: #1d3557;
$fontSize: 20px;
$colorWhite: #ffffff;
$colorGreyLight: rgb(255, 228, 242);
$colorPink: rgb(229, 78, 208);
$colorViolet: rgb(159, 69, 176);
$gradient: linear-gradient(
    rgba($colorBlueDark, 0.9),
    rgba($colorBlueMedium, 0.9) 80%
  ),
  linear-gradient(rgba($colorBlueMedium, 0.9), rgba($colorBlueMedium, 0.5) 50%),
  linear-gradient(
    90deg,
    rgba($colorBlueMedium, 0.3),
    rgba($colorGray, 0.9) 100%
  );

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontFamily;
}

body {
  letter-spacing: 1px;
  text-align: center;
  font-size: $fontSize;
  color: $colorWhite;
}
.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.app {
  padding: 150px 0 20px;
  background: $gradient;
  height: 100vh;
  position: relative;
  &__title {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 45px;
    margin-bottom: 50px;
  }
  &__intro {
    margin-bottom: 50px;
    span {
      color: $colorRed;
      font-weight: 600;
    }
    strong {
      font-size: 25px;
    }
  }
  &__search {
    color: black;
    font-size: 18px;
    line-height: 32/18;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 -15px -15px;
    padding-bottom: 30px;
    & > p {
      margin: 0 0 15px 15px;
    }
    input {
      padding: 8px 16px;
      font-size: 18px;
      outline: none;
      border-radius: 5px;
      border: none;
      min-width: 250px;
      font-weight: 500;
      letter-spacing: 1px;
      border: 3px solid transparent;
      &:focus {
        border-color: orange;
      }
    }
    button {
      padding: 10px 25px 12px 25px;
      outline: none;
      color: black;
      background-color: $colorRed;
      font-weight: bold;
      letter-spacing: 1px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 18px;
      transition: background-color 0.3s;
      &:hover {
        background-color: lighten($colorRed, 10%);
      }
    }
  }
}

.spinner {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.main {
  padding-top: 200px;
}

.card {
  background-color: $colorPink;
  color: black;
  padding: 15px;
  border-radius: 5px;
  &__main {
    background-color: $colorWhite;
    padding: 40px 15px;
    border-radius: 5px;
  }
  &__title {
    font-size: 40px;
    margin-bottom: 25px;
  }
  &__img {
    margin-bottom: 25px;
  }
  &__forecast {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0 -15px -15px;
    list-style: none;
    &-item {
      margin: 0 0 15px 15px;
      span {
        display: block;
        font-weight: 600;
        margin-bottom: 5px;
      }
    }
  }

  &__list {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 15px;
  }
  &__item {
    background-color: pink;
    padding: 15px;
    border-radius: 5px;
  }
}

svg {
  display: block;
  height: 15vw;
  //   margin: auto;
  //   margin-top: 30vh;
  color: #d14009;
  transition: 1s ease-out;
  animation: rotation 8s infinite linear;
}

.fa-secondary {
  fill: #fc9601;
  opacity: 0.8;
  transition: fill 2s ease-out;
}

svg:hover {
  color: #ffcc33;
}
.fa-secondary:hover {
  fill: #ffe484;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
