h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 0.5em;
}

h1 {
  font-size: 45px;
  @media (min-width: $mdUp) {
    letter-spacing: 5px;
    font-size: 60px;
  }
}
h2 {
  font-size: 35px;
  @media (min-width: $mdUp) {
    font-size: 40px;
  }
}
h3 {
  font-size: 25px;
  @media (min-width: $mdUp) {
    font-size: 30px;
  }
}
h4 {
  font-size: 20px;
  @media (min-width: $mdUp) {
    font-size: 25px;
  }
}
h5,
h6 {
  font-size: 20px;
}

hr {
  margin: 20px 10px;
  border: 1px solid rgba($colorWhite, 0.3);
}
