$fontFamily: "Dosis", sans-serif;
$fontSize: 20px;
$colorViolet: hsl(291.37, 100%, 37.75%);
$colorPink: hsl(335.13, 100%, 49.06%);
$colorOrange: hsl(13.63, 98.57%, 53.31%);
$colorBlue: hsl(237.91, 100%, 45.1%);
$colorWhite: #ffffff;
$colorGreyLight: rgb(255, 228, 242);
$gradient: linear-gradient(
  152deg,
  hsl(20.88, 100%, 49.02%) 0%,
  hsl(19.08, 96.79%, 50.2%) 8%,
  hsl(13.63, 98.57%, 53.31%) 15.1%,
  hsl(4.74, 100%, 56.42%) 21.6%,
  hsl(348.78, 100%, 50%) 27.6%,
  hsl(344.9, 100%, 50%) 33.3%,
  hsl(340.52, 100%, 50%) 38.7%,
  hsl(335.13, 100%, 49.06%) 44%,
  hsl(328.07, 100%, 46.63%) 49.3%,
  hsl(318.96, 100%, 43%) 54.9%,
  hsl(306.85, 100%, 38.2%) 60.7%,
  hsl(291.37, 100%, 37.75%) 67.1%,
  hsl(277.43, 100%, 40.91%) 74%,
  hsl(264.87, 100%, 43.19%) 81.8%,
  hsl(252.56, 100%, 44.58%) 90.4%,
  hsl(237.91, 100%, 45.1%) 100%
);
